* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'OutFit', sans-serif;
}

body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: hsl(216, 50%, 16%);
    width: 375px;
    height: auto;
    border-radius: 1rem;
    padding: 25px;
    margin: 0 15px;
}

.card-image {
    opacity: 1;
    width: 100%;    
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 1rem;
}

.image-container {
    position: relative;
}

.image-container:hover span {
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.image-container span {
    background-color: hsl(178, 100%, 50%);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 325px;
	display: flex;
	opacity: 0;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	transition: all 0.3s ease-in-out;
}

.image-container span img {
    width: 50px;
    height: 50px;
}

.card-title {
    padding: 20px 0;
}

a {
    color: white;
} 

a:hover {
    color:hsl(178, 100%, 50%);
    transition: color 0.2s ease-in-out;
}

.card-info {
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: 300;
}

.card-price-clock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.cost {
    color:hsl(178, 100%, 50%);
    font-weight: 300;
}

.cost img, .time img {
    padding-right: 8px;
}

.time {
    color:hsl(215, 51%, 70%);
    font-weight: 300;
}

.cost p, .time p {
    display: inline;
}

hr {
    width: 100%;
    height: 1px;
    background-color:hsl(215, 51%, 70%);
    border: none;
}

.card-creator {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.avatar-image  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

.creator-info  {
    color:hsl(215, 51%, 70%);
    padding-left: 8px;
}

.creator-info p a {
    font-weight: 600;
}
